.deployer/
.experiments/
.idea/
.phpunit.cache/
.vscode/
node_modules/
vendor/
.DS_Store
.env
.env.*
*.cache
*.log
deployer.yml
settings.local.json
Thumbs.db

# BATS test artifacts
tests/bats/fixtures/keys/
tests/bats/fixtures/inventory/
