name: PHPMD

permissions:
  contents: read

on:
  pull_request:

jobs:
  phpmd:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP and install Composer dependencies
        uses: ./.github/actions/php-setup-composer

      - name: Run mess detection
        run: vendor/bin/phpmd app,bin text phpmd.xml
